* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "sans";
  color: black;
}

.intro {
  background: url(Photos/Intro-bg2.jpg);
  background-size: cover;
}

@font-face {
  src: url(Font/sans.ttf);
  font-family: "sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.refresh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 4rem;
}

h4 {
  text-align: center;
  padding-bottom: 50px;
  width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.contentBox {
  position: relative;
  width: 600px;
  height: 350px;
  background: url(Photos/popup-bg.jpg);
  border-radius: 20px;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
}


.contentBox .content {
  list-style: none;
  width: 90%;
  text-align: center;  
  margin: auto;
}

.contentBox .content h2 {
  text-align: center;
  font-size: 3rem;
}

.contentBox .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: url("Photos/close.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}
.copy-popup {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.952);
  color:white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  z-index: 999;
}

.copy-popup.show {
  display: block;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media (max-width: 767px) {
  .contentBox {
    width: 300px;
    height: auto;
    flex-direction: column;
  }
  .contentBox .imgBX {
    height: 200px;
    transform: translateY(-50px);
  }
  .contentBox .content {
    height: auto;
    text-align: center;
    padding: 20px;
  }
  .close {
    top: -50px;
    right: -10px;
    background: url("Photos/close.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.fa-facebook {
  padding: 5px 10px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-facebook:hover {
  color: #4267b2;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-github {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-github:hover {
  color: #727171;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-twitter {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-linkedin {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-linkedin:hover {
  color: #0e76a8;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}
.fa-instagram {
  padding: 5px 8px;
  border-radius: 10%;
  background: white;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}

.fa-instagram:hover {
  color: #e1306c;
  transition: 0.3s;
  -webkit-transition: 0.4s all;
}
.footer-name {
  padding: 1px;
  display: inline;
  color: white;
}

.footer-name:hover {
  text-decoration: underline;
}

a{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
a span{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
a span:before,
a span:after{
  position: absolute;
  content: "REFRESH";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
a span:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
a span:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
a span:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 20%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  border: 2px solid white;
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: "sans";
  padding: 20px;
}

@media only screen and (max-device-width: 425px) {
  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 0.9rem;
    width: 90%;
  }
  .box {
    font-size: 0.8rem;
  }
  a {
    width: 150px;
    height: 50px;
  }
  a span {
    top: -4px;
    left: -20px;
    letter-spacing: 4px;
  }
}
